@font-face {
  font-family: "Creattion Demo";
  src: local("Creattion Demo"),
    url("./Assets/fonts/Creattion Demo.otf") format("otf");
}
@font-face {
  font-family: "Playfair Display Black";
  src: local("Playfair Display Black"),
    url("./Assets/fonts/PlayfairDisplay-Black.ttf") format("ttf");
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  margin: 0;
  font: 19px / 23px Montserrat, "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Media Query */
@media (max-width: 1380px) {
  html,
  body {
    font-size: 16px;
    line-height: normal;
  }
}

