.social-media-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.social-media-heading {
  text-align: center;
  margin-bottom: 2rem;
}

.profile-cards-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
